# Telegram Bot API
TELEGRAM_BOT_TOKEN=
OWNER_IDS=
TELEGRAM_BOT_API_URL=

# Telegram MTProto
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION_PATH=

# MTProto Proxy
TELEGRAM_MTPROXY_SERVER=
TELEGRAM_MTPROXY_PORT=
TELEGRAM_MTPROXY_SECRET=

# SOCKS
SOCKS5_PROXY_URL=

# VK
VK_GROUP_TOKEN=

# Database
DATABASE_URL=

# Logging
LOG_LEVEL=
LOG_LEVEL_LIBS=
LOG_DIR=
LOG_ROTATION=
LOG_RETENTION=
LOG_COMPRESSION=
